.s-programm-cards{
	margin-top: 5rem;
	font-size: 16px;
}

.s-programm-cards h1{
	font-family: MuseoSlab700;
	text-transform: uppercase;
	text-align: center;
	color: var(--primary-color);
	font-size: 2.5em;
	margin-bottom: 2rem;
}

.s-programm-cards .card{
	height: 100%;
}

.s-programm-cards .card .btn--pay {
    background-color: var(--primary-accent-color);
    color: white;
    border-radius: 20px;
}

.s-programm-cards .card .btn--pay:hover {
	background-color: var(--primary-accent-color);
   box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
}

.s-programm-cards .card .btn-info {
    background-color: #fedd2c;
    border-color: #fedd2c;
    border-radius: 20px;
    color: var(--primary-color);
}

.s-programm-cards .card .btn-info:hover {
	background-color: #fedd2c;
   border-color: #fedd2c;
   box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
}

.s-programm-cards .card .btn-info:active {
	background-color: #fedd2c;
   border-color: #fedd2c;
   color: var(--primary-color);
}

.s-programm-cards .card .link {
	display: inline-block;
	margin-bottom: 10px;
    color: var(--primary-accent-color);
}

.s-programm-cards .card .link:hover {
	color: var(--primary-color);
}

.about-credit{
	text-align: center;
	padding: 60px 0 40px 0;
}

.about-credit .btn-primary{
	background-color: #fedd2c;
    border-color: #fedd2c;
    border-radius: 20px;
    color: var(--primary-color);
}

.about-credit .btn-primary:hover {
	background-color: #fedd2c;
   border-color: #fedd2c;
   box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
}

.about-credit .btn-primary:active {
	background-color: #fedd2c !important;
   border-color: #fedd2c !important;
   color: var(--primary-color) !important;
}

.modal-credit-info img{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.footer-phones{

}


.footer-phones .h4{
	font-family: "MuseoSlab700", serif;
	color: var(--primary-accent-color);
}

@media (max-width: 1024px){
	.footer-phones .h4{
		font-size: 1.2rem;
	}
}

@media (max-width: 768px){
	.footer-phones .h4{
		font-size: 1rem;
	}
}

@media (max-width: 576px){
	.footer-phones{
		margin-top: 30px;
	}
}

.management_top{
	background-color: #445e77;
}

.management_top .flex-column{
	-ms-align-items: center;
	align-items: center;
}
@media (max-width: 768px){
	.management_top{
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.management_top .management_top__small{
	font-size: 1em;
}
@media (max-width: 428px){
	.management_top .management_top__small{
		font-size: 0.7em;
	}
}

.management_top__more{
	text-transform: uppercase;
	color: #FFF;
	text-decoration: underline;
}

.management_top__more:hover{
	color: #FFF;
}


.modal-xxl{
	max-width: 1680px;
}


.first-main-block .btn {
  font-size: 1.1em;
  background-color: var(--secondary-accent-color);
  border-radius: 30px;
  padding: 0.8rem 3rem 0.8rem 3rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.first-main-block .btn:hover {
  color: white;
  background-color: #ec5e30;
}

@media (max-width: 768px){
	.index_team img{
		margin-bottom: 1em;
	}
}


.index_team__text{
	font-size: 16px;
}
@media (max-width: 768px){
	.index_team__text{
		padding-top: 15px;
	}
}

.messenger-closed{
	animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) scale(1);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(1);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(1);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(1);
  }
}


.schedule-item__actions{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.schedule-item__buy {
		background-color: var(--primary-accent-color);
    color: white;
    border-radius: 20px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-top: 0.5rem;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px;
}

.schedule-item__buy:hover{
	background-color: var(--primary-accent-color);
   box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
   color: #FFF;
}

.slogan h4{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.index_founder p{
	font-size: 16px;
}

.first-main-block{
	padding-bottom: 10px;
}

.text-top-card h4{
	font-size: 1.2rem;
}

.text-top-card p{
	font-size: 0.8em;
}


/* kvant um */
.kvant-second{

}

.red-serif{
	font-family: "MuseoSlab700", serif;
	color: var(--primary-accent-color);
}
@media (max-width: 768px){
	.red-serif{
		font-size: 1.1rem;
	}
}

.black-serif{
	font-family: "MuseoSlab700", serif;
}
@media (max-width: 768px){
	.black-serif{
		font-size: 1.1rem;
	}
}

.kvant-images{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.kvant-images__mans{
	max-width: 400px;
	margin-right: 30px;
}

.kvant-images__logo{
	width: 200px;
}
@media (max-width: 768px){
	.kvant-images__mans{
		width: 200px
	}
	.kvant-images__logo{
		width: 100px;
	}
}


.kvant-list{
	padding: 20px 0;
}

.kvant-list h4{
	margin-bottom: 0.4em;
}

.kvant-list h5{

}

.kvant-list li{
	margin-bottom: 0.5em;
}
@media (max-width: 768px){
	.kvant-list li{
		font-size: 1.1rem
	}
}

.kvant-third{
	padding: 40px 0;
	background-color: #f2f2f2;
}

.kvant-result h1{
	margin-bottom: 0.4em;
}

.kvant-result li{
	margin-bottom: 0.5em;
}
@media (max-width: 768px){
	.kvant-result li{
		font-size: 1.1rem
	}
}

.kvant-result__img{
	width: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.kvant-science{

}

.kvant-science__img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 30px;
	margin-bottom: 30px;
}

.kvant-science h4{
	margin-bottom: 30px;
}

.back-link{
	padding: 40px 0;
	text-align: center;
}

.back-link a{
	background-color: var(--secondary-accent-color);
	border-color: var(--secondary-accent-color);
	color: white;
	border-radius: 20px;
	font-family: "MuseoSlab700", serif;
	font-size: 18px;
}

.back-link a:hover{
	background-color: var(--sup-col-blue-op);
	border-color: var(--sup-col-blue-op);
	color: white;
}
/* kvant um */