.fade-slide {
    animation-name: fade;
    animation-duration: 0.8s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.8s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}