.first-main-block {
  margin-top: -3rem;
  padding-top: 4rem;
  background-color: #f5fafa;
}
@media (max-width: 768px) {
  .first-main-block {
    padding-bottom: 1.4rem;
  }
}
.first-main-block h4 {
  font-family: "MuseoSlab700", serif;
  color: var(--primary-accent-color);
}
.first-main-block p {
  color: var(--primary-color);
  font-weight: bold;
}
.first-main-block hr {
  background-color: rgba(255, 255, 255, 0.62);
}
.first-main-block button {
  font-size: 1.1em;
  background-color: var(--secondary-accent-color);
  border-radius: 30px;
  padding: 0.8rem 3rem 0.8rem 3rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.first-main-block button:hover {
  color: white;
  background-color: #ec5e30;
}

#modal-open-start h4 {
  font-family: "MuseoSlab700", serif;
  color: var(--primary-accent-color);
  margin-bottom: 1rem;
}
#modal-open-start p {
  color: var(--primary-color);
  font-weight: bold;
}

.all-programs {
  margin-top: 5rem;
}
.all-programs h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 2.5em;
  margin-bottom: 2rem;
}

#accordions-all-programs button {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 0.8em;
}
#accordions-all-programs .card {
  background-color: transparent;
  border: none !important;
}
#accordions-all-programs .card .card-body {
  padding-top: 0;
}
#accordions-all-programs .card .card-header {
  background-color: transparent;
  border: none !important;
  text-align: center;
}
#accordions-all-programs .programs-item {
  margin-top: 0;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

#newProgramModal h5 {
  color: var(--primary-accent-color);
  font-family: "MuseoSlab700", serif;
  font-size: 2em;
}
#newProgramModal form label {
  font-family: "MuseoSlab700", serif;
}
#newProgramModal form button {
  margin-top: 1.2rem !important;
}

.slogan {
  margin-top: 2rem;
}
.slogan h4 {
  font-family: "MuseoSlab700", serif;
  text-align: center;
  color: var(--primary-accent-color);
}

.index_about_ericson {
  margin-top: 3rem;
}

.feedback-index {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.feedback-index h1 {
  text-align: center;
  font-family: "MuseoSlab700", serif;
}
.feedback-index button {
  background: none;
  border: none;
  font-weight: bolder;
  font-size: 1.8em;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
@media (max-width: 992px) {
  .feedback-index button {
    display: none;
  }
}
.feedback-index .feedback-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 30px;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15);
}
.feedback-index .feedback-slider img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.feedback-index .feedback-slider h5 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  color: var(--primary-accent-color);
}
.feedback-index .feedback-slider p {
  font-size: 0.8em;
}
.feedback-index .slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.feedback-index .slider-dots .dot {
  cursor: pointer;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  height: 16px;
  width: 16px;
  background-color: var(--secondary-accent-color);
  border-radius: 50%;
}
.feedback-index .slider-dots .dot-active {
  background-color: var(--primary-accent-color);
}

.side-buttons {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}
.side-buttons button {
  width: 60px;
  height: 60px;
  background-color: var(--secondary-accent-color);
  margin-top: 0.1rem;
  border-radius: 10px;
  cursor: pointer;
  padding: 6px;
}
.side-buttons button img {
  width: 100%;
}

#callbackModal h5, #giftModal h5 {
  color: var(--primary-accent-color);
  font-family: "MuseoSlab700", serif;
  font-size: 2em;
}
#callbackModal form label, #giftModal form label {
  font-family: "MuseoSlab700", serif;
}
#callbackModal form button, #giftModal form button {
  margin-top: 1.2rem !important;
}

.basic-program {
  margin-top: 5rem;
}
.basic-program h1 {
  font-family: "MuseoSlab700", serif;
  text-align: center;
  margin-bottom: 2rem;
}
.basic-program ul li {
  font-family: "MuseoSlab300", serif;
  font-size: 1.4em;
  color: var(--primary-accent-color);
  text-align: center;
}
.basic-program h4 {
  margin-top: 2rem;
  text-align: center;
}
.basic-program h6 {
  font-family: "MuseoSlab700", serif;
  text-align: center;
}
.basic-program h3 {
  text-align: center;
}

header nav li {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
header nav li a {
  text-align: center;
}

.schedule {
  margin-top: 3rem;
}
.schedule h1 {
  font-family: "MuseoSlab700", serif;
  text-align: center;
}
.schedule .callback-top {
  margin-top: 3rem;
  background-color: #f5fafa;
  padding-bottom: 2rem;
}
.schedule .callback-top .col-lg-6 {
  padding-top: 2rem;
}
@media (max-width: 768px) {
  .schedule .callback-top {
    padding-bottom: 1.4rem;
  }
}
.schedule .callback-top h4 {
  font-family: "MuseoSlab700", serif;
  color: var(--primary-accent-color);
  text-align: center;
}
.schedule .callback-top p {
  color: var(--primary-color);
  font-weight: bold;
}
.schedule .callback-top hr {
  background-color: rgba(255, 255, 255, 0.62);
}
.schedule .callback-top button {
  font-size: 1.1em;
  background-color: var(--secondary-accent-color);
  border-radius: 30px;
  padding: 0.8rem 3rem 0.8rem 3rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.schedule .callback-top button:hover {
  color: white;
  background-color: #ec5e30;
}
.schedule .schedule-item {
  border: 1px solid #f2f2f2;
  border-radius: 2rem;
  padding: 1.3rem;
  margin-top: 3rem;
}
.schedule .schedule-item h5 {
  font-family: "MuseoSlab700", serif;
  color: var(--primary-accent-color);
}
.schedule .schedule-item h4 {
  font-family: "MuseoSlab700", serif;
  font-size: 1.2em;
}
.schedule .schedule-item button {
  margin-top: 0.5rem;
  font-size: 1.1em;
  background-color: var(--secondary-accent-color);
  border-radius: 30px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.schedule .schedule-item button:hover {
  color: white;
  background-color: #ec5e30;
}
@media (max-width: 768px) {
  .schedule .schedule-item .sm-mt {
    margin-top: 3rem;
  }
}